
$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #323944;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        #5c6b80;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;


$bones-pink:        #f01d4f;
$blue:              #2980b9;

$link-color:        $bones-pink;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;


/*======================*/

$green-dark: 		#4fbb7a;
$green: 			#63cc84;
$green-light: 		#7ed69a;

$orange:			#ffb452;
$orange-light:		#ffbe68;

$red:				#f44f55;
$red-light: 		#f47177;
$red-dark: 			#d13d40;

$red-n:				#fc625a;
$red-n-light:		#ff7c75;

$pink: 				#f65d83;
$pink-light: 		#fd7c93;

$yellow:			#ffb400;
$yellow-light: 		#ffc554;
$yellow-superlight: #ffd36a;

$blue-mid:			#1ba0c8;
$blue-light:		#30b9e6;
$blue-superlight: 	#5dc6ea;

$text-dark:			#36353c;
$text-mid:			#81898f;
$text-mid:			#7e828b;
$text-light:		#9ca8ae;
$text-superlight: 	#dfe8eb;

$grey-superdark:	#222224;
$grey-dark: 		#262628;
$grey-darklite: 	#3b3b41;
$grey-mid:			#8E9BB0;
$grey-midlite:		#9eacb5;
$grey-light:		#f4f4f3;
$grey-superlight:	#fafaf9;

$grey-border: 		#ededed;

$grey-footer:		#171a1f;
$grey-copyright:	#11151c;


$br:			14px;
